<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0, shrink-to-fit=no")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title CodeRentor
        link(rel="stylesheet", href="dist/css/bootstrap.min.css")
        link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")
        link(rel="stylesheet", href="dist/css/style.css")
    body
        .top-info-bar
            .container
                .icon-bar-left
                    ul.list-unstyled.float-left
                        li
                            i.fa.fa-phone +8801765848096
                        li.separetor
                        li
                            a(href="#") News
                        li.separetor
                        li
                            a(href="#") F.Q.A
                .info-bar-social-icon.float-right
                    ul.list-unstyled
                        li
                            a(href="#")
                                i.fa.fa-facebook
                        li
                            a(href="#")
                                i.fa.fa-twitter
                        li
                            a(href="#")
                                i.fa.fa-google-plus
                        li
                            a(href="#")
                                i.fa.fa-linkedin
                        li
                            a(href="#")
                                i.fa.fa-youtube
        .top-nav
            .container
                .logo.float-left
                    h1 CodeRentor
                .nav-menu.float-right
                    a(href="#") Home
                    a(href="#") Services
                    a(href="#") Blog
                    a(href="#") Contact
        .slider
            .container
                

    script(src="dist/js/jquery.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js")
    script(src="dist/js/bootstrap.min.js")
